<!DOCTYPE html>
<html>
  <head>
    <title>Bikes</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <style>
      #map {
        height: 100%;
      }
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
    <div id="map"></div>
    <script>
      var map;
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: -41.290777, lng: 174.7791503},
          zoom: 15
        });
        $.get('/api/update', function(result) {
          for (var i = 0; i < result.length; ++i) {
            var location = result[i];
            var marker = new google.maps.Marker({
              position: {
                  lat: location[0],
                  lng: location[1]
              },
              map: map,
              animation: google.maps.Animation.DROP
            })
          }
        });
      }
    </script>
    <script
			  src="https://code.jquery.com/jquery-3.3.1.min.js"
			  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
			  crossorigin="anonymous"></script>
    <script src="https://maps.googleapis.com/maps/api/js?callback=initMap"
    async defer></script>
  </body>
</html>
